doctype html
html
    head
        title="Hello puG"
    body
        h1.title Zaloguj się do aplikacji za pomocą konta google.
        p.info Magna minim officia est sunt aliqua eu laborum laboris ex esse ea consectetur. Veniam sint aliqua Lorem qui nisi laboris culpa amet tempor esse ut. Exercitation aliqua fugiat duis et tempor minim minim mollit officia esse veniam. Duis velit est et exercitation excepteur in consectetur tempor sint. Qui voluptate nostrud nisi ut culpa. Ullamco nostrud proident in mollit et fugiat nulla exercitation enim nisi adipisicing.
        a(href="/auth/google") Logowanie google