doctype html
html
    head
        title="Hello puG"
    body
        form(method="post", action="/auth/logged")
            input(type="text",name="login")
            input(type="password",name="pass")
            input(type="submit",value="Zaloguj")